@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  z-index: 88;
}
.wrapper {
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 99;
  box-shadow: 0px 0px 13px 0px #545454;
}
.screen {
  height: 4rem;
  margin-bottom: 4rem;
}
.btnBox{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5rem;
  margin-top: 2.5rem;
}
.btn{
  background-color: #d4e5f0;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}
.btn:hover{
  border: 2px dotted #242424;
}
.eq{
  background-color: #4bd086;
  grid-column: 3/5;
}
.opt{
  background-color: #f79505;
}